In [1]:
def leter_num_special(s):
    cn , cc , cs = 0,0,0
    for i in s:
        if ord(i) in range (ord('a') , ord('z')) :
            cc += 1
        elif ord(i) in range (48,48 + 9):
            cn+=1
        else :
            cs+=1
            
    print(f'letters {cc}')
    print(f'digits {cn}')
    print(f'special {cs}')

In [2]:
leter_num_special('123#abc')

letters 3
digits 3
special 1

In [3]:
def return_reverse (lst):
    print([i[::-1] for i in lst])

In [4]:
lst = ['Mohamed' , 'Wael' , 'Salma' , 'Amira' , 'Ahmed']
return_reverse(lst)

['demahoM', 'leaW', 'amlaS', 'arimA', 'demhA']

In [6]:
def string_contain_string (a,b):
    mp = {i : False for i in a}
    for i in b:
        if i in a:
            mp[i] = True
    flag = False 
    for i in mp.values():
        if not i :
            print ('False')
            flag = True
    if not flag :
        print('True')

In [7]:
string_contain_string('abc','jjjjjjjakkkkcllllllb')

True

In [8]:
string_contain_string('abc','aaaaaaaaaaaaaabbbbbbbbbbbbb')

False

In [9]:
string_contain_string('abc','cba')

True

# optional problem:

# Get maxiumu City for each country  >> EGy : Damietta

In [11]:
countries = {'Egy' : {'Cairo' : 1200 , 'Luxor' : 198 , 'Giza' : 1987 , 'Damietta' : 19870},
            'US' : {'new Yourk' : 15500 , 'Los Angeles' : 1650 , 'California' : 18062} , 
            'UK' : {'London' : 1800 ,  'Bristol' : 1890 , 'Manchester' : 19850} , 
            'france' : {'Paris' : 19820 , 'Marseille' : 1980 ,  'Lyon' : 19875 } 
            }
maxone = ''
max_val = -1
lst_val = {}
for i , j in countries.items():
    for k , c in j.items():
        if c > max_val:
            max_val = c
            maxone = k
    print(maxone)
    lst_val [maxone] = max_val
    maxone = ''
    max_val = -1

Damietta
California
Manchester
Lyon

In [12]:
for i , j in countries.items():
    print(sum(j.values()))

23255
35212
23540
41675

In [13]:
print (max(lst_val.values()))

19875